@font-face {
font-family: NFS;
src: url("css/fonts/RACER.ttf");
}

.navcontainer {
	height: 1000px;
	width: 225px;
	background-color: #333333;
}

.navtype {
	padding-top: 25px;
	padding-left: 15px;
	list-style: none;
	font-size: 36px;
	font-family: NFS;
}
